
        h1 {
            color:rgb(14, 117, 234);
            font-family: monospace; 
            text-align:center;
            font-size: 30px;
        }
        h2 {
            color:rgb(14, 117, 234);
            font-family: monospace; 
            font-size: 30px;
            text-align:center;
        }
        h3 {
            color:rgb(14, 117, 234);
            font-family: monospace; 
            font-size: 30px;
            text-align:center;
        }
        p {
            color:rgb(14, 117, 234);
            font-family: monospace; 
            font: size 10px;
            text-align:center;
        }
        div {
            text-align:center;
        }