h1 {
    color:blueviolet;
    font-family: monospace; 
    text-align:center;
    font-size: 30px;
}
button {
    font-family: monospace;
    text-transform:uppercase;
    background-color: blueviolet;
    border-radius: 10px;
    justify-content: center;
}
button:hover {
    background-color: blue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 200px;

}

